body {
    text-align: center;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-image: url(../images/background2.jpg);
    background-color: black;
    background-repeat: no-repeat;
    background-size: auto;
}

.container {
    width: 80%;
    height: 100%;
    padding-left: 10%;
    padding-right: 10%;
}

.navbar {
    overflow: hidden;
    text-align: center;
}

.logo {
    margin-top: 10px;
    width: 30%;
    cursor: pointer;
}

.menu-icon {
    width: 20%;
    cursor: pointer;
    margin-left: 40px;
}

nav {
    text-align: center;
}

nav ul li {
    list-style: none;
    border: 0;
    border-radius: 5px;
}

nav ul li a {
    float: left;
    text-align: center;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 12px;
}

nav ul li a:hover {
    color: green;
}

.dropbtn {
    background-color: #8B8839;
    color: white;
    font-size: 15px;
    float: left;
    border: 0;
    border-radius: 5px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: none;
}

.dropdown-content a:hover {
    background-color: white;
}

.dropdown:hover .dropdown-content {
    display: none;
}

.dropdown:hover .dropbtn {
    background-color: white;
    color: black;
}

.logo {
    width: 5%;
    cursor: pointer;
}

#visitez a{
text-decoration: none;
color:black;
}

#contactez a{
text-decoration: none;
color:black;
}

.menu-icon {
    width: 5%;
    cursor: pointer;
    margin-left: 40px;
}

.up {
    display: inline;
    height: 90%;
    align-items: center;
}

h1 {
    color: #fff;
    font-size: 25px;
    text-shadow: 2px 2px #8B8839;
}

.pqnous p {
    color: #fff;
    font-size: 15px;
    line-height: 15px;
    text-shadow: 1px 1px black;
}

.pqnous {
    color: #000;
    font-size: 12px;
    padding: 15px 0 15px 20px;
    background: rgba(136, 136, 136, 0.8);
    border: 0;
    border-radius: 5px;
    margin-top: 2px;
}

#visitez {
    width: 150px;
    color: #000;
    font-size: 12px;
    padding: 12px 0;
    background: #fff;
    border: 0;
    border-radius: 20px;
    outline: none;
    margin-top: 30px;
    margin-bottom: 25px;
}

#contactez {
    width: 150px;
    color: #000;
    font-size: 12px;
    padding: 12px 0;
    background: #fff;
    border: 0;
    border-radius: 20px;
    outline: none;
    margin-top: 30px;
    margin-bottom: 25px;
    box-shadow: 5px 5px #8B8839;
}


.produits {
    width: 200px;
    height: 230px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    background-position: center;
    background-size: cover;
    transition: transform 0.5s;
}

.produit1 {
    background-image: url(../images/produit1.jpg);
}

.produit2 {
    background-image: url(../images/produit2.jpg);
}

.produit3 {
    background-image: url(../images/produit3.jpg);
}

.produit4 {
    background-image: url(../images/produit4.jpg);
}

.produits:hover {
    transform: translateY(-10px);
}

h5 {
    color: white;
    text-shadow: 0 0 5px #999;
}

.produits p {
    text-shadow: 0 0 5px #999;
    font-size: 8px;
}

.map {
    margin-top: 20px;
    margin-bottom: 20px;
}